.color{
    display: flex;
}

.color input{
    margin-top: 10px;
    margin-left: 10px;
}

.speed{
    display: flex;
    margin-right: 10px;
}

.speed_set{
    display: flex;
}

.alma{
    display: flex;
}

.alma_szama{
    display: flex;
    margin-right: 10px;
}
.icon{
    display: flex;
    margin-top: 20px;
}

