@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');


body {
    font-family: 'Micro 5';
    height: 100vh;
    margin: 0;
    background-color: #9BBA5A;
    font-size: 2.5rem;
}
canvas {
    border: 2px solid ;
    /* background-color: #9BBA5A; */
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 7rem;    
}
h2 {
    margin: 0;
}

.menu p {
    margin: 0;
}

#colorpick {
    border: 3px solid black;
    border-radius: 5px;
    background-color: transparent;
}

.speed{
    display: flex;
    margin-right: 10px;
}

.speed_set{
    display: flex;
}

#icon {
    font-family:'Micro 5' ;
    font-size: 1.8rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    height: fit-content;
}

#eyes{
    font-family:'Micro 5' ;
    font-size: 1.8rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    height: fit-content;
}

.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.left {
    position: fixed;
    width: 40%;
    left: 30%;
    margin-left: -20%;
}

.right {
    position: fixed;
    margin-left:68%;
}

button {
    font-family: 'Micro 5';
    font-size: 3rem;
    width: 150px;
    height: 50px;
    background-color: #000000;
    color: #9BBA5A;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 145%;
    display: none;
}

button  p{
    margin: 0;
    line-height: 0.5;

}